@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", "Libre Baskerville", sans-serif;
    background-image: url(Asset/backiee-119827-landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper{
    height: 90vh;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 40px;
    overflow: hidden;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.profile-section img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0px -27px;
    border-radius: 50%;
}

.bio-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username-section a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.bio{
    /* width: 300px; */
    font-size: 18px;
}

.link-section{
    width: 80%;
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links{
    background-color: #C2FAFA;
    /* background-color: #BBFFE3; */
    color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 0px -1px rgba(0, 0, 0, 0.795);
    font-size: 16px;
    border: 2px solid black;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.links:hover{
    background-color: #A2EDF0;
}

.links a{
    width: 100%;
}

@media (max-width: 880px){
    .main-wrapper{
        background:none;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border-radius: none;
        border: none;
    }
}