@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", "Libre Baskerville", sans-serif;
    background-color: #F7F6F4;
    /* background-color: #DAFED8; */
    /* background-image: url(Asset/wp13700181-illustrations-4k-wallpapers.jpg); */
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: black;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper{
    height: 100vh;
    /* border-radius: 20px; */
    width: 500px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 40px;
    background-image: url(Asset/background.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.profile-section img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0px -27px;
    border-radius: 50%;
}

.bio-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username-section a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.bio{
    width: 300px;
    font-size: 18px;
}

.links{
    background-color: #BBFFE3;
    border-radius: 30px;
    box-shadow: 10px 10px 0px -1px rgba(0, 0, 0, 0.795);
    font-size: 16px;
    border: 2px solid black;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.links:hover{
    background-color: rgb(113, 249, 156);
}

.links a{
    width: 100%;
}
